 {% extends 'Studentapp/base.html' %}
 
 
 <center>
 
 
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
      <div class="blog-post">
        <h2 class="blog-post-title">About Project</h2>
        <center>
        <p>A student information system (SIS) is a software application for educational establishments to manage student data. Student information systems provide capabilities for entering student test? and other assessment scores, building student schedules, tracking student attendance, and managing many otherstudent-related data needs in a school, college or university</p> 
      </center>
      <center>
        <p>Our easy-to-use, integrated College administration applications are proven to reduce time spent on administrative tasks so you can concentrate on raising student achievement. Student Information System have to accept, process and generate reports accurately and any point of time any user can get the student information</p>
        </center>
      </div>
    </div>
  </div>
</main>
</center>