{% load staticfiles %}

<div class="card mb-5" style="max-width: 8500px;">
    <div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">

  <div class="row no-gutters">
    
    <div class="col-md-4">

      <img src="{% static 'images/1.jpg' %}" class="student-img" alt="..." style="max-height: 300px; max-width: 400px;">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <h3 class="card-title"> Welcome to Student Information System</h3>
        <p class="card-text">A student information system(SIS),student management system,school administration,software or student administration system.</p>
       <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">Continue reading...</a></p>
      </div>
    </div>
  </div>
</div>
</div>

