{% extends 'Studentapp/base.html' %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
{% block 'content' %}
<body>
<main role="main" class="container">

<h1>Project Details</h1>
<p>Our easy-to-use, integrated College administration applications are proven to reduce time spent on administrative tasks so you can concentrate on raising student achievement. Student Information System have to accept, process and generate reports accurately and any point of time any user can get the student information</p>

</body>
</main>
</html>
{% endblock %}