<!DOCTYPE html>
<html>
<head>
	<title>Image Upload</title>
	 <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	  

</head>


<body>
    
  <form action="/imgupload/Imgupload/" method="post" enctype="multipart/form-data">
     File select:<input type="file" multiple="multiple" class="form-control" name="ImageUpload"  style="width:400px;" accept=".jpg;/.jpeg;/.png;">
	 <br><br>
    <button type="btn" class="btn-success" id='upload' >Upload</button>
    <br><br>
    <!--
    {% if img_path %}
    <img src="{{ img_path }}" alt="connect" style="max-height:300px">
    <p>Image uploaded at: <a href="{{ img_path }}">{{ img_path }}</a></p>
    {% endif %}
-->

    
 
   </form>
     
</body>
</html>